<form class="ui form" #f="ngForm" (ngSubmit)="submitted(f)">
  <div class="field">
    <label>ISBN</label>
    <input type="text" name="isbn" placeholder="123-642378421-4" ngModel>
  </div>
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title" ngModel>
  </div>
  <div class="field">
    <label>Price in Euro</label>
    <input type="number" name="price" placeholder="Price in Euro" ngModel>
  </div>
  <button class="ui button" type="submit">Add Book</button>
</form>
