<div class="ui two column doubling stackable grid container">
  <div class="column"><TEX>\bfs</TEX>
    <bm-dashboard></bm-dashboard><TEX>\bfe</TEX>
  </div>
  <div class="column"><TEX>\bfs</TEX>
    <bm-cart></bm-cart><TEX>\bfe</TEX>
  </div>
</div>
