<div class="ui two column doubling stackable grid container">
  <div class="column">
<TEX>\boldline</TEX>    <bm-dashboard></bm-dashboard>
  </div>
  <div class="column">
<TEX>\boldline</TEX>    <bm-cart></bm-cart>
  </div>
</div>
