<div class="ui two column doubling stackable grid container">
  <div class="column">/*TEX:\bfs*/
    <bm-dashboard></bm-dashboard>/*TEX:\bfe*/
  </div>
  <div class="column">/*TEX:\bfs*/
    <bm-cart></bm-cart>/*TEX:\bfe*/
  </div>
</div>
