import { IBookState } from '../app.state';
import { ADD_BOOK } from '../actions/books';
/*TEX:\bfs*/
const INITIAL_STATE: IBookState = {
  all: []
};/*TEX:\bfe*/

export function booksReducer(state = INITIAL_STATE, action): IBookState {
  switch (action.type) {
    case ADD_BOOK:/*TEX:\bfs*/
      return { all: [...state.all, action.payload] };/*TEX:\bfe*/
    default:
      return state;
  }
}
