import { Injectable } from '@angular/core';

<TEX>\boldline</TEX>import { NgRedux } from '@angular-redux/store';

import { IAppState } from '../app.state';
import { Book } from '../shared/book';

<TEX>\boldline</TEX>export const ADD_BOOK = 'ADD_BOOK';

@Injectable()
export class BooksActions {
  constructor(private <TEX>\bfseries redux: NgRedux<IAppState></TEX>) {}

  addSingle(book: Book) {
<TEX>\boldline</TEX>    this.redux.dispatch({ type: ADD_BOOK, payload: book});
  }
}
